[submodule "external/aws-sdk"]
	path = external/aws-sdk
	url = https://github.com/aws/aws-sdk-php.git
[submodule "external/guzzle"]
	path = external/guzzle
	url = https://github.com/guzzle/guzzle.git
[submodule "external/doctrine"]
	path = external/doctrine
	url = https://github.com/doctrine/common.git
[submodule "external/monolog"]
	path = external/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "external/psrlog"]
	path = external/psrlog
	url = https://github.com/php-fig/log.git
